In [59]:
import pandas as pd

df = pd.DataFrame() #creating empty dataframe
print(df)

#Create and initialize dataframe
dataf = pd.DataFrame([['amar',25,54,75],['sonu',54,65,45],['monu',54,24,65]],columns = ['Nmae','AA','AOS','CVIP'])
print(dataf)

shape = dataf.shape #shape
print(shape)

dataf_new = pd.DataFrame([['das',65,98,75],['annu',56,84,69],['bansal',84,56,32]],columns = ['Nmae','AA','AOS','CVIP'])

frames = [dataf,dataf_new]
df_new = pd.concat(frames)#concatinate
print(df_new)

myfile = pd.read_csv('data.csv')   #import csv file and read csv file
print(myfile.head())

df = pd.read_csv('data.csv',delimiter = ' ')# Load DataFrame from CSV file data with specific delimiter
print(df)

df = pd.read_csv('data.csv',header = None)#Load DataFrame from CSV with no header
print(df)

isempty = df.empty #check dataframe is empty or not
print("dataframe empty :",isempty)

df_new.to_csv('export.csv')#export csv file
df2 = pd.read_csv('export.csv') #read exported csv file
print(df2)

Empty DataFrame
Columns: []
Index: []
   Nmae  AA  AOS  CVIP
0  amar  25   54    75
1  sonu  54   65    45
2  monu  54   24    65
(3, 4)
     Nmae  AA  AOS  CVIP
0    amar  25   54    75
1    sonu  54   65    45
2    monu  54   24    65
0     das  65   98    75
1    annu  56   84    69
2  bansal  84   56    32
    Name  Age Grades
0   Amar   23      B
1  Rahul   24      A
2  Ankit   25      C
3  Ayush   23      B
  Name,Age,Grades
0       Amar,23,B
1      Rahul,24,A
2      Ankit,25,C
3      Ayush,23,B
       0    1       2
0   Name  Age  Grades
1   Amar   23       B
2  Rahul   24       A
3  Ankit   25       C
4  Ayush   23       B
dataframe empty : False
   Unnamed: 0    Nmae  AA  AOS  CVIP
0           0    amar  25   54    75
1           1    sonu  54   65    45
2           2    monu  54   24    65
3           0     das  65   98    75
4           1    annu  56   84    69
5           2  bansal  84   56    32